* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    height: calc(100% - 50px); /* Restar la altura del header */
}

nav {
    background-color: #4444446c;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    background-color: #e60606;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    border-bottom: 2px solid #000000;
}

nav ul li a:hover {
    background-color: #eeff00;
    color: black;
}

nav ul li a.active {
    background-color: #48ff00;
    color: rgb(0, 0, 0);
}

main {
    flex-grow: 1;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
