
@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

* {  
    user-select: none; 
    cursor: default;
}

html {
    font-size: 62.5%;
    color: #c1c6cb;
    background-color: #15202e;
}

body {
    padding: 20px 50px;
}

body::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #110d0d;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.dashboard {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
}

.dashboard-header {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.dashboard-title {
    flex: 1;
    font-size: 2.5rem;
}

.dashboard-clock {
    display: flex;
    align-items: center;
}

.dashboard-clock-digital {
    font-weight: bold;
    font-size: 2.5rem;
}

.dashboard-clock-binary {
    margin-left: 8px;
    border-collapse: separate;
}

.dashboard-clock-binary td {
    height: .4rem;
    width: .4rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
}

.dashboard-clock-binary .num1 {
    background-color: #2eb35a;
}

.server {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 4px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, .1);
}

.server-icon {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 2rem;
}

.server-details {
    flex: 1;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.server-details li {
    display: block;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #7e8794;
}

.server-details li:last-child .data {
    font-weight: normal;
    color: rgba(230, 245, 255, .32);
}

.server-details .data {
display: block;
margin: -1.7rem 0 0 0;
padding: 0 1rem 0 0;
font-weight: 600;
text-align: right;
color: #c1c6cb;
}

.server-details .signal {
color: #2eb35a;
}

.server-details .signal::before {
content: '';
display: inline-block;
width: .6rem;
height: .6rem;
background-color: currentColor;
border-radius: 50%;
margin-right: .5rem;
margin-top: -.2rem;
vertical-align: middle;
}

.server-list {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
grid-gap: 2rem;
}

.server.has-failed {
box-shadow: 0px 4px 15px rgba(0, 0, 0, .2);
border-color: #d22c32;
animation: alertblink 2s ease-in-out infinite;
}

.server.has-failed .server-icon,
.server.has-failed .signal {
color: #d22c32;
}

.server.has-failed
{
background-color: rgba(210, 44, 50, .2);
animation: none;
}

@keyframes alertblink {
0% {
background: rgba(210, 44, 50, 0);
}
50% {
background: rgba(210, 44, 50, 0.2);
}
100% {
background: rgba(210, 44, 50, 0);
}
}