@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

body {
  font-family: "Lato";
  background: #121212;
  
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;}

#particles-js, #parallax, .layer, .some-space, .some-more-space1 {
  height: 100%;
  position: absolute;
  width: 100%;}

#particles-js {opacity: 0.6;}

h1 {
  color: white;
    text-align: center;
  font-size: 5em;
  font-weight: 4 00;
  letter-spacing: 0.2em;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);}

h1 span{color: rgb(255, 0, 0);}

a {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  border: 2px solid #00c3ff;
  border-radius: 14px;
  position: absolute;
  top: 55%;
  left: 44%;
  overflow: hidden;
  z-index: 2;
  background: linear-gradient(to right, rgba(0, 255, 17, 0.2), transparent);
  transition: all 0.4s ease;
}

a:hover {
  color: #ff0000;
  background: rgba(0, 195, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 195, 255, 0.8), 0px 0px 20px rgba(0, 195, 255, 0.6);
}

a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(0, 195, 255, 0.5), transparent);
  transition: all 0.5s;
}
.some-space {animation: rotate 18s 0.5s infinite linear reverse;}

.some-more-space1 {
  -webkit-animation: rotate 15s 0.1s infinite linear;
          animation: rotate 15s 0.1s infinite linear;}

@media (max-width: 700px) {
  h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;}

  a {
    font-size: 0.9em;
    padding: 8px 12px;
    top: 70%;}

  #particles-js {
    opacity: 0.3;}}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);}
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);}}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);}
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);}}

html {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 
    834px	1610px	#44F7E2,
    1574px	807px	#796E51,
    1462px	75px	#93D681,
    1466px	1743px	#D5C971,
    1994px	122px	#B3FDE1,
    395px	1428px	#472D06,
    150px	1729px	#50E884,
    648px	396px	#1F75F7,
    1096px	955px	#1A4498,
    451px	1534px	#682CBC,
    312px	1682px	#6E2A66,
    459px	1274px	#028EF7,
    132px	618px	#0BE2CA,
    1562px	1034px	#7887BF,
    726px	1887px	#209C41,
    201px	798px	#AF8A93,
    471px	411px	#75E779,
    1521px	259px	#2163B3,
    1590px	1911px	#4F307A,
    727px	169px	#22BE29,
    307px	693px	#ED2C30,
    1168px	243px	#7D190F,
    589px	166px	#47DAD0,
    62px	747px	#D4020E,
    995px	1783px	#460CA9,
    1489px	1599px	#580B9F,
    1885px	469px	#DBFC6E,
    1816px	1605px	#D430E8,
    1836px	386px	#E25831,
    1685px	58px	#C56CD5,
    227px	1636px	#3A9233,
    376px	1201px	#9BC316,
    1279px	1798px	#0325AE,
    1955px	1013px	#0973B3,
    1702px	1701px	#A1CAA9,
    1197px	441px	#F9529E,
    1807px	898px	#F8437B,
    640px	1826px	#5E31C5,
    1438px	687px	#07C80B,
    245px	783px	#7CF3CB,
    392px	1070px	#E1E0CC,
    1814px	1014px	#F43051,
    1765px	1175px	#105F3D,
    485px	1043px	#F3F52D,
    1592px	944px	#9CA0F9,
    1990px	1971px	#0B7AB8,
    1129px	1227px	#F771A0,
    1972px	222px	#A20F0A,
    1290px	1803px	#7F60DE,
    1395px	1674px	#B2CC43,
    1565px	269px	#368657,
    1689px	532px	#115211,
    737px	1825px	#2FCFF7,
    1438px	1372px	#557C87,
    1968px	872px	#C39E1D,
    1085px	325px	#5BE45C,
    649px	1482px	#850DAF,
    1585px	1845px	#E261D7,
    1489px	389px	#7B7712,
    1099px	1392px	#8A396F,
    1226px	1536px	#D6F52D,
    1630px	96px	#2CD6D8,
    662px	524px	#74FF69,
    781px	1837px	#F22696,
    1603px	613px	#4AB68C,
    810px	449px	#E69DF5,
    909px	1259px	#C7D4DA,
    261px	1737px	#EF4B65,
    1629px	177px	#CDD0C6,
    1928px	1183px	#D8949B,
    1025px	152px	#E8F54F,
    481px	835px	#F949BC,
    1517px	1840px	#E0A608,
    661px	122px	#0A8C50,
    1077px	15px	#7CDAA8,
    1919px	662px	#F390F6,
    1577px	457px	#512C71,
    29px	1024px	#D7B9D2,
    242px	928px	#42F80F,
    1204px	1641px	#583D68,
    296px	1787px	#B024F4,
    52px	1532px	#8767C8,
    142px	118px	#50682B,
    34px	507px	#7A223D,
    461px	719px	#C73AF2,
    922px	1808px	#0AADDF,
    26px	103px	#FF0469,
    494px	349px	#3C6A29,
    1046px	555px	#C66733,
    992px	1063px	#771904,
    1754px	671px	#6E94AE,
    240px	1118px	#C9273C,
    1148px	462px	#493676,
    1167px	565px	#BDC41E,
    1742px	1640px	#263A42,
    41px	593px	#D91DFD,
    106px	446px	#AB358D,
    1133px	963px	#190776,
    634px	135px	#934E49,
    1245px	786px	#6576A4,
    1456px	1657px	#033094,
    1547px	1817px	#0CDEA5,
    1292px	1598px	#AFDA0A,
    1608px	1544px	#54B073,
    1980px	538px	#1BB8CF,
    680px	317px	#EE1F35,
    1150px	1440px	#C78D72,
    1351px	628px	#99B513,
    1018px	1217px	#6B3F30,
    847px	1882px	#12C765,
    300px	1409px	#35127B,
    1047px	1401px	#18B4D1,
    1474px	644px	#44EBC2,
    509px	194px	#A902DA,
    1084px	697px	#2FE0A9,
    547px	1717px	#5A51C0,
    1156px	1834px	#DA7101,
    1573px	232px	#5A660A,
    294px	1846px	#17EACA,
    1979px	73px	#43C1E0,
    412px	759px	#7348E8,
    1910px	936px	#9D3CEC,
    717px	1134px	#9643B5,
    1345px	1452px	#9ABB02,
    781px	863px	#C86AEF,
    1121px	1106px	#C905A7,
    1994px	1118px	#ABF473,
    1988px	148px	#87C190,
    886px	190px	#A89F29,
    652px	1265px	#667FE8,
    1952px	199px	#F0A2A4,
    1965px	1032px	#CDBD3C,
    1660px	1297px	#B25DE9,
    1885px	1516px	#F01472,
    1128px	718px	#5D6BC3,
    1858px	264px	#4C4CB6,
    652px	1782px	#54E4C6,
    435px	320px	#6B494E,
    1678px	808px	#0ACA60,
    950px	328px	#1780B0,
    572px	228px	#5330F9,
    462px	1985px	#69F493,
    971px	728px	#A46B30,
    317px	910px	#220E0D,
    1565px	194px	#3036B0,
    1888px	833px	#104E41,
    1474px	1791px	#4F70D4,
    532px	1493px	#882F19,
    1398px	385px	#04847F,
    1155px	560px	#A4B3E8,
    1436px	1419px	#C00B99,
    429px	1130px	#7F7024,
    1129px	1853px	#8C38F1,
    538px	1149px	#389837,
    294px	796px	#516968,
    472px	1354px	#7674A9,
    1747px	1532px	#A5CFDA,
    1485px	1713px	#A0ED24,
    600px	1902px	#781175,
    1910px	1893px	#6D20C0,
    1568px	1719px	#7A1375,
    1467px	698px	#D6276E,
    1750px	1634px	#01A37B,
    439px	1103px	#BD13C6,
    993px	291px	#BC4EBC,
    1960px	1307px	#BDBFDA,
    1010px	1269px	#9E7CEC,
    960px	620px	#84A6B4,
    519px	1507px	#98C416,
    334px	399px	#EEEF45,
    1712px	1055px	#D69BCF,
    954px	566px	#1F58A5,
    736px	1330px	#F956D0,
    1052px	34px	#6E9E02,
    1624px	1790px	#F39D6A,
    329px	1296px	#E61ADA,
    1097px	745px	#19FA94,
    685px	1499px	#2B13BA,
    1701px	917px	#D7B2E9,
    464px	760px	#EFE757,
    1250px	1737px	#A7FD2A,
    1750px	1402px	#281C4D,
    638px	1480px	#7868A0,
    418px	1228px	#D407BF,
    1263px	478px	#4B9279,
    454px	1969px	#DC0D73,
    1173px	297px	#CF7E43,
    67px	1963px	#B8FCAE,
    485px	72px	#13606D,
    952px	1951px	#E650FD,
    963px	914px	#67570A,
    1955px	757px	#EC408D,
    1063px	1454px	#E251DB,
    1201px	277px	#142887,
    1781px	234px	#C78A59,
    847px	1540px	#F3C33E,
    474px	642px	#7705F1,
    597px	1468px	#EA0BEE,
    1388px	1392px	#C0C25D,
    1232px	199px	#6D9587,
    1873px	1864px	#042493,
    838px	729px	#F5DCD9,
    1220px	442px	#5F62E3,
    621px	1469px	#7960DE,
    438px	220px	#BD605E,
    1649px	1911px	#570E27,
    1039px	277px	#277884,
    1785px	702px	#A550B7,
    397px	955px	#F6C51A,
    1829px	612px	#A71D65,
    1538px	963px	#E8D385,
    471px	940px	#B4F63F,
    1077px	437px	#D92AC8,
    282px	821px	#66C664,
    124px	430px	#E4B8AB,
    449px	1328px	#5038B1,
    134px	1370px	#6063DB,
    131px	88px	#4A3C95,
    1949px	1273px	#EE034B,
    725px	271px	#31437C,
    1930px	1437px	#C100B1,
    459px	9px	#A06FEE,
    1953px	1616px	#80DC8F,
    1257px	845px	#785362,
    368px	689px	#D8D0F0,
    1153px	655px	#C9C1FC,
    1667px	1943px	#9555FB,
    1798px	8px	#08CBD7,
    790px	1902px	#A253AC,
    1322px	654px	#031E1F,
    1455px	1881px	#EC1CB5,
    596px	1003px	#17674C,
    1253px	1777px	#DB79C6,
    982px	1208px	#D7BD89,
    1700px	783px	#4ECF35,
    1804px	549px	#187DD7,
    1824px	814px	#DBAB30,
    1162px	180px	#8D4EC8,
    1297px	940px	#194961,
    1028px	574px	#C6EACA,
    1423px	433px	#E48028,
    1961px	1674px	#4805F6,
    802px	484px	#243BDF,
    1299px	517px	#F8054A,
    372px	900px	#00B2F5,
    1730px	664px	#BE849D,
    1048px	58px	#BE1A1D,
    1234px	1475px	#90E57E,
    1610px	255px	#37D29F,
    316px	574px	#4738A4,
    1267px	125px	#736F9E,
    862px	587px	#0811A6,
    1582px	1587px	#DCB6CC,
    810px	1743px	#A2663A,
    516px	1091px	#1E8EF3,
    373px	709px	#A5CAD6,
    248px	689px	#29B8D1,
    871px	1467px	#80A469,
    1837px	1013px	#BD2C0B,
    971px	1328px	#ED1099,
    1778px	377px	#09BF16,
    499px	816px	#314BAC,
    728px	1006px	#57E779,
    1162px	748px	#0D8D39,
    99px	1649px	#57C502,
    423px	32px	#D42554,
    1894px	300px	#78C355,
    439px	1809px	#E2F90C,
    166px	900px	#084017,
    374px	1731px	#DF0038,
    1104px	66px	#6BEFF2,
    962px	1491px	#1EF45E,
    1546px	1464px	#BD59A8,
    1556px	1720px	#D5CA45,
    1875px	470px	#6B7345,
    331px	517px	#B5821E,
    157px	187px	#46F83D,
    326px	421px	#4556FD,
    1129px	335px	#668EAB,
    304px	1878px	#2F3D89,
    198px	1611px	#ABEB27,
    983px	1098px	#7CDBBD,
    1482px	1860px	#842F75,
    1123px	1114px	#074B10,
    2px	1395px	#BAAE34,
    1480px	275px	#BD2E06,
    1794px	1635px	#D193D1,
    375px	1777px	#1F36AA,
    1245px	330px	#8297D6,
    1738px	960px	#C9169C,
    1228px	645px	#34FA8E,
    480px	834px	#7778F8,
    111px	957px	#75D191,
    31px	1617px	#9EE061,
    703px	1492px	#840FB0,
    277px	673px	#2E0ED6,
    839px	771px	#498589,
    1146px	304px	#419D72,
    1039px	1662px	#BEC9CD,
    1088px	1297px	#1C09B8,
    1985px	1540px	#4CFAA2,
    1517px	1951px	#D125CD,
    1200px	1829px	#1E4086,
    242px	1548px	#45A5BB,
    428px	1680px	#0BEBF9,
    176px	112px	#58BC40,
    186px	756px	#F33119,
    775px	797px	#48B461,
    1379px	303px	#89A67A,
    1883px	733px	#B363CB,
    335px	1753px	#E80232,
    262px	1047px	#123A91,
    5px	1482px	#5E7F08,
    1130px	156px	#471F62,
    1366px	1195px	#02D9CB,
    41px	1399px	#26EB15,
    1615px	1088px	#3D53F1,
    1950px	1282px	#8D1BFC,
    1296px	315px	#0F5C21,
    884px	351px	#B71766,
    93px	457px	#7ED2E7,
    898px	521px	#D3E93C,
    841px	696px	#B1C6D1,
    636px	1067px	#B5B653,
    448px	922px	#B5FB22,
    1370px	1716px	#7573B8,
    1499px	804px	#C5C34D,
    294px	546px	#FB716D,
    1513px	82px	#EE40FD,
    1912px	623px	#4BB756,
    74px	1843px	#178973,
    970px	569px	#C9B9D3,
    819px	958px	#E56881,
    430px	1450px	#F8F370,
    261px	832px	#DFC1E6,
    1603px	22px	#3BFB4C,
    752px	1870px	#91D9D1,
    760px	330px	#18AF32,
    938px	1539px	#AAAE2A,
    1624px	222px	#677159,
    1678px	551px	#BD451D,
    673px	1876px	#833A71,
    1634px	565px	#910574,
    1463px	922px	#B8E5B8,
    1061px	1738px	#F92DA9,
    1003px	1756px	#0B9DC1,
    1161px	1985px	#3C7744,
    602px	1843px	#C6B270,
    1285px	317px	#0100C4,
    1593px	1796px	#F3C245,
    965px	324px	#EA073C,
    1065px	1005px	#C96354,
    1250px	1149px	#B329B5,
    931px	827px	#933717,
    451px	626px	#FFC19A,
    1897px	1092px	#5CC07F,
    1862px	1578px	#CA6039,
    297px	917px	#D9B1F5,
    1233px	1605px	#0AC0C5,
    89px	233px	#ECACA4,
    1666px	1619px	#123561,
    584px	699px	#657A4C,
    955px	1288px	#6C8E8B,
    326px	1420px	#2892BF,
    147px	1734px	#8D8FF4,
    1476px	1813px	#83939A,
    160px	275px	#DC09CD,
    303px	1790px	#1F3A1E,
    1507px	1240px	#7A5E0B,
    532px	1190px	#A09FFE,
    1861px	1556px	#EAC3C0,
    328px	1672px	#6B3B36,
    1803px	284px	#E515A7,
    1526px	1107px	#A1BB63,
    1188px	563px	#A19481,
    1895px	1876px	#65C2D0,
    1847px	807px	#846FDA,
    1882px	1771px	#591C28,
    675px	1345px	#AF8CC7,
    59px	1143px	#5D1A59,
    917px	353px	#724D65,
    1363px	425px	#6817B3,
    1021px	1838px	#FA27F5,
    1571px	305px	#DAD631,
    1559px	429px	#DE9F1A,
    1470px	1531px	#841AEE,
    1141px	1791px	#51142B,
    619px	1969px	#92D61B,
    243px	1783px	#DB10AC,
    1243px	1147px	#8BC7F3,
    504px	1412px	#15AB9F,
    936px	1006px	#939EEB,
    1845px	1819px	#7A0C4F,
    22px	841px	#0E1B1D,
    161px	957px	#1E70E1,
    691px	1163px	#7FEBCB,
    1529px	849px	#5CB84B,
    1719px	301px	#9834EC,
    925px	666px	#8D2F84,
    430px	210px	#77811D,
    1044px	1922px	#178E70,
    797px	229px	#858E4D,
    1509px	300px	#0360DC,
    1662px	800px	#68AAC4,
    1449px	289px	#12AE50,
    850px	1748px	#07EA17,
    1932px	640px	#596D50,
    1864px	1647px	#6EE810,
    237px	709px	#43A2B1,
    100px	963px	#866D54,
    334px	819px	#4DE29B,
    63px	933px	#2BE98C,
    812px	1699px	#5CDC37,
    1985px	1305px	#2F3B03,
    520px	976px	#9E31F5,
    1370px	1963px	#91895A,
    175px	617px	#74FBE9,
    1310px	1707px	#CD069B,
    863px	546px	#69635F,
    1259px	127px	#7C5F0D,
    1334px	1259px	#F11205,
    200px	1740px	#55A744,
    1408px	190px	#69EF8D,
    845px	794px	#23EBAB,
    1071px	1052px	#93B268,
    830px	804px	#3A84E1,
    1260px	445px	#E5E3FB,
    494px	1174px	#00CCC2,
    1583px	261px	#2B83C5,
    697px	1159px	#176D69,
    1336px	1910px	#E5DEEB,
    1630px	1501px	#EA769A,
    1083px	622px	#FC99B3,
    1625px	1982px	#D5D6ED,
    1675px	882px	#18126C,
    858px	1116px	#D9459C,
    487px	796px	#235161,
    1682px	898px	#93A602,
    818px	868px	#878DA1,
    821px	962px	#74BE8B,
    1183px	1898px	#7E20D0,
    66px	1323px	#C3F2BB,
    1225px	626px	#1D819D,
    1939px	1196px	#CB10A5,
    499px	1101px	#B19F28,
    1718px	883px	#8B3342,
    1482px	1508px	#4FC06B,
    1750px	1342px	#721748,
    567px	1446px	#95ED14,
    588px	439px	#7BD874,
    432px	1885px	#CB22BD,
    481px	1787px	#060B51,
    473px	129px	#6EF20C,
    279px	1890px	#4302D2,
    163px	141px	#8A8200,
    1320px	1696px	#F95A25,
    559px	1253px	#D31F83,
    1573px	852px	#FD6A8B,
    1481px	893px	#1FA8FE,
    1634px	325px	#77CA53,
    1733px	598px	#DF99DF,
    1282px	855px	#D845F5,
    355px	862px	#44DDB6,
    1252px	392px	#705CEF,
    61px	1091px	#188F3D,
    720px	1639px	#A87187,
    1259px	1020px	#8D4E2A,
    954px	1572px	#0B37D6,
    1699px	1603px	#AE855B,
    236px	1045px	#3F55F0,
    1839px	366px	#280EAE,
    1781px	1535px	#1C182A,
    1142px	338px	#DF7B80,
    1491px	1703px	#8E749E,
    1155px	1197px	#009DAD,
    453px	558px	#C2FB00,
    1485px	1134px	#ED1F6F,
    832px	339px	#328C8E,
    601px	885px	#42661E,
    459px	1091px	#9501B2,
    1058px	497px	#4362AE,
    537px	718px	#B76272,
    1134px	105px	#732AB6,
    1164px	1123px	#E3FAA7,
    303px	1484px	#12BBCF,
    1684px	1695px	#4467C8,
    1756px	538px	#6506DB,
    1383px	1879px	#741B8D,
    797px	646px	#838A29,
    422px	1718px	#B8EC24,
    401px	377px	#94FB9D,
    1159px	271px	#245411,
    1564px	1398px	#D0F851,
    244px	751px	#7DBFAA,
    1026px	1062px	#B45C1B,
    186px	1572px	#85A156,
    580px	1637px	#27A229,
    1145px	732px	#541EDA,
    829px	1033px	#301A71,
    3px	539px	#8FC082,
    1966px	635px	#0BC744,
    1243px	1959px	#FEF4FC,
    1358px	763px	#C24AB5,
    1262px	759px	#138DB9,
    1642px	1625px	#4AD3BA,
    213px	668px	#2F9966,
    788px	943px	#7EFD26,
    179px	394px	#876F9D,
    1621px	848px	#F1A322,
    1436px	886px	#0113F7,
    1459px	238px	#E04339,
    956px	297px	#B4EB1F,
    458px	1116px	#72C247,
    239px	1493px	#0A1AA8,
    663px	1641px	#1278F2,
    1834px	1316px	#4B3C3E,
    1760px	1089px	#28D0F0,
    1918px	1275px	#A0CA33,
    928px	934px	#EC2281,
    235px	1734px	#802E43,
    963px	582px	#AC92ED,
    1813px	1733px	#244F0C,
    1023px	1558px	#91847C,
    275px	407px	#5B8E32,
    181px	505px	#C2F9EF,
    821px	1146px	#DD8265,
    1798px	29px	#86C207,
    1042px	1742px	#489958,
    1160px	411px	#6DD8C4,
    51px	55px	#BDE4D9,
    534px	335px	#FCCF97,
    1804px	126px	#EB39E2,
    1620px	889px	#0538EC,
    758px	190px	#A25C5B,
    579px	710px	#F6D394,
    1447px	97px	#18D2F0,
    1709px	635px	#289F89,
    141px	419px	#1E81DC,
    855px	724px	#8D8A94,
    24px	330px	#990F77,
    1658px	1459px	#269524,
    1917px	1630px	#CAA3ED,
    1622px	1676px	#9CEFBA,
    1786px	1058px	#BC39B2,
    161px	1781px	#8906FD,
    630px	1333px	#7ABC74,
    1453px	46px	#C783C9,
    984px	1332px	#F5DCB9,
    559px	1155px	#99070B,
    946px	1879px	#4469FC,
    1002px	686px	#870A80,
    1285px	758px	#C7DD1E,
    594px	1641px	#7D7432,
    1919px	1357px	#5797B4,
    422px	1957px	#982463,
    1858px	913px	#47FB88,
    1571px	190px	#34EB37,
    1095px	1336px	#9A3765,
    1058px	51px	#2A21E2,
    1627px	1872px	#4968B8,
    54px	1634px	#BB206D,
    1052px	687px	#B53F61,
    1867px	291px	#343140,
    1312px	1976px	#126A8D,
    1505px	195px	#C8A30D,
    55px	765px	#4505C1,
    806px	1430px	#6F1E1C,
    286px	310px	#2865B3,
    355px	610px	#D1D1E5,
    1361px	397px	#FC1EC5,
    604px	1407px	#F6976E,
    1531px	544px	#7E4E4B,
    82px	1416px	#7042DA,
    1129px	1676px	#CF1677,
    1216px	1525px	#9062D4,
    247px	865px	#D18811,
    1446px	1513px	#BD48B6,
    229px	137px	#DB95C9,
    1119px	414px	#036AE4,
    1423px	747px	#02B69A,
    1240px	1916px	#CE9558,
    1843px	1355px	#CAAA01,
    1122px	1285px	#DF3C6F,
    480px	359px	#39A72D,
    485px	268px	#2B043D,
    1709px	1130px	#53BD3C,
    1631px	1020px	#71B4EF,
    142px	1488px	#6F11AE,
    863px	1219px	#1F8896,
    1357px	217px	#6247A7,
    1381px	759px	#91F092,
    915px	568px	#F57638,
    148px	68px	#EE34AF,
    175px	681px	#9DE4DC,
    1252px	943px	#83C3C4,
    1608px	1305px	#341A29,
    1058px	218px	#ED1985,
    933px	197px	#D65D24,
    229px	1654px	#8A559A,
    1576px	670px	#C57743,
    1992px	448px	#5236EF,
    662px	1077px	#59379E,
    626px	1477px	#5F21B3,
    360px	1600px	#5B2639,
    632px	1044px	#522245,
    210px	1091px	#062E5D,
    1793px	1599px	#7C7185,
    224px	1872px	#3A3C9D,
    1711px	1869px	#3F51F5,
    1632px	365px	#7F7864,
    1567px	749px	#4091AF,
    1599px	1738px	#BF434A,
    393px	591px	#B25759,
    1807px	1812px	#B97854,
    1380px	302px	#C2DAD1,
    949px	1481px	#A89799,
    1614px	1921px	#67B6A9,
    1069px	1893px	#1E6B91,
    918px	283px	#09055D,
    1252px	762px	#9ED89C,
    619px	436px	#AC02AD,
    1736px	1526px	#148F8E,
    435px	657px	#52E025,
    83px	1862px	#24A5A6,
    1707px	279px	#56BF54,
    728px	977px	#F61D69,
    1558px	447px	#3EFB07,
    1965px	745px	#E195A6,
    1114px	1659px	#2C713B,
    83px	378px	#53E7B4,
    1203px	1485px	#CB6B1D,
    152px	1902px	#FE5441,
    623px	26px	#5B8F24,
    1662px	400px	#0955CC,
    880px	1276px	#3AA8F9,
    44px	826px	#09BC49,
    789px	920px	#651A86,
    1326px	1046px	#B95338,
    939px	1340px	#F2AD58,
    1208px	1812px	#EFA98F,
    1706px	913px	#2E28AF,
    714px	910px	#A409F6,
    1648px	66px	#C1348B,
    1906px	1790px	#6850BB,
    1441px	318px	#0F5660,
    1803px	1498px	#3512B6,
    712px	1619px	#F083BA,
    1233px	1517px	#79CACB,
    298px	379px	#666FA9,
    341px	60px	#F61B6A,
    979px	1439px	#8B35F8,
    902px	1272px	#06E601,
    1053px	792px	#3A2042,
    1396px	1930px	#488D05,
    396px	1246px	#FA5A30,
    1952px	873px	#F2D682,
    93px	415px	#12841E,
    1099px	776px	#989096,
    1575px	433px	#6B0689,
    313px	1386px	#C82023,
    137px	1956px	#F9C988,
    224px	223px	#1B58A2,
    1728px	1184px	#1E948D,
    1598px	69px	#9F1B2A,
    1905px	522px	#04D3A5,
    332px	1129px	#B40EA0,
    478px	254px	#991BE2,
    754px	1739px	#0B61F7,
    762px	566px	#C4B443,
    1022px	1504px	#0BFBA5,
    749px	311px	#EAC97E,
    1452px	187px	#51C0AE,
    1736px	1674px	#15D573,
    492px	1677px	#7AD328,
    1148px	1117px	#0CA4D3,
    1881px	1359px	#1B2D0A,
    1384px	1053px	#43E551,
    380px	802px	#90DEBB,
    883px	135px	#170649,
    403px	915px	#7F112A,
    879px	1487px	#DE8FCC,
    255px	219px	#7708A7,
    1392px	1200px	#C40EBA,
    226px	179px	#9CC316,
    1748px	953px	#D28EF8,
    1887px	1222px	#9C939A,
    56px	452px	#1B6C3B,
    1568px	1826px	#436D1F,
    1722px	1077px	#F04A5B,
    1042px	465px	#1D0F0E,
    272px	128px	#BCB95D,
    917px	211px	#3804CB,
    1197px	1819px	#52AC87,
    1848px	742px	#744912,
    866px	384px	#2CE2A5,
    460px	1917px	#71436E,
    112px	14px	#6C172A,
    1687px	1559px	#04E512,
    260px	1666px	#1DAD4E,
    726px	1297px	#002621;  

    animation: animStar 50s linear infinite;}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 
    834px	1610px	#DC6507,
    1574px	807px	#F7C618,
    1462px	75px	#EAE847,
    1466px	1743px	#9BE5D3,
    1994px	122px	#1A42DC,
    395px	1428px	#E570B0,
    150px	1729px	#32F9D8,
    648px	396px	#C5ECC7,
    1096px	955px	#7CB4D0,
    451px	1534px	#205B26,
    312px	1682px	#9DBAA3,
    459px	1274px	#9CAB92,
    132px	618px	#D53DE2,
    1562px	1034px	#313361,
    726px	1887px	#6FF1AF,
    201px	798px	#E8810C,
    471px	411px	#9C6FCF,
    1521px	259px	#303C6D,
    1590px	1911px	#23ED15,
    727px	169px	#BB8A78,
    307px	693px	#409E5C,
    1168px	243px	#45AAEF,
    589px	166px	#B8DF09,
    62px	747px	#E7E3E3,
    995px	1783px	#6B1B5E,
    1489px	1599px	#648AEE,
    1885px	469px	#805AF2,
    1816px	1605px	#E89419,
    1836px	386px	#6FE845,
    1685px	58px	#1D1162,
    227px	1636px	#100045,
    376px	1201px	#EBA72E,
    1279px	1798px	#D4D5F8,
    1955px	1013px	#7CB466,
    1702px	1701px	#F80446,
    1197px	441px	#54C503,
    1807px	898px	#63D7E6,
    640px	1826px	#1072BB,
    1438px	687px	#5DB6B7,
    245px	783px	#F3D657,
    392px	1070px	#0E2764,
    1814px	1014px	#2653CA,
    1765px	1175px	#5003F8,
    485px	1043px	#D5506E,
    1592px	944px	#B43ADD,
    1990px	1971px	#3D219F,
    1129px	1227px	#42E9A5,
    1972px	222px	#E30EAE,
    1290px	1803px	#A90142,
    1395px	1674px	#1A8DE7,
    1565px	269px	#77C597,
    1689px	532px	#106AF1,
    737px	1825px	#EF57E8,
    1438px	1372px	#42A95D,
    1968px	872px	#B398C4,
    1085px	325px	#088C93,
    649px	1482px	#758FA2,
    1585px	1845px	#AD25DA,
    1489px	389px	#8F7D36,
    1099px	1392px	#D54701,
    1226px	1536px	#A7A02E,
    1630px	96px	#700B40,
    662px	524px	#849A46,
    781px	1837px	#9DE473,
    1603px	613px	#0A3DB6,
    810px	449px	#DF1938,
    909px	1259px	#177EDB,
    261px	1737px	#19C331,
    1629px	177px	#3D4653,
    1928px	1183px	#CB0BCB,
    1025px	152px	#FCA75A,
    481px	835px	#340244,
    1517px	1840px	#BD1E90,
    661px	122px	#187876,
    1077px	15px	#7223F2,
    1919px	662px	#402606,
    1577px	457px	#B9D799,
    29px	1024px	#255271,
    242px	928px	#A6DD4B,
    1204px	1641px	#5688B5,
    296px	1787px	#C9A184,
    52px	1532px	#04D322,
    142px	118px	#676C0E,
    34px	507px	#4FCA4D,
    461px	719px	#91F46A,
    922px	1808px	#2BD795,
    26px	103px	#CAE3D5,
    494px	349px	#6C5525,
    1046px	555px	#5EBB62,
    992px	1063px	#4FDED6,
    1754px	671px	#D62C1E,
    240px	1118px	#068E3E,
    1148px	462px	#F24100,
    1167px	565px	#AC4A1F,
    1742px	1640px	#769DBB,
    41px	593px	#407859,
    106px	446px	#814786,
    1133px	963px	#6F403C,
    634px	135px	#936AD2,
    1245px	786px	#B39F7C,
    1456px	1657px	#518213,
    1547px	1817px	#BBC209,
    1292px	1598px	#998B54,
    1608px	1544px	#F93BC7,
    1980px	538px	#649647,
    680px	317px	#4DBB7E,
    1150px	1440px	#2462F5,
    1351px	628px	#8F25A2,
    1018px	1217px	#6D2878,
    847px	1882px	#A9DC3A,
    300px	1409px	#3D336C,
    1047px	1401px	#FF4379,
    1474px	644px	#8596A5,
    509px	194px	#02D89B,
    1084px	697px	#2E057F,
    547px	1717px	#E2B1B8,
    1156px	1834px	#FC9DB8,
    1573px	232px	#8A02AD,
    294px	1846px	#2BFE14,
    1979px	73px	#FF7549,
    412px	759px	#0C11F5,
    1910px	936px	#C34242,
    717px	1134px	#F75E4E,
    1345px	1452px	#6D605B,
    781px	863px	#A604B2,
    1121px	1106px	#C9495F,
    1994px	1118px	#5BBF99,
    1988px	148px	#A8292A,
    886px	190px	#6A2E0E,
    652px	1265px	#C324EE,
    1952px	199px	#9AEC02,
    1965px	1032px	#1EE3D8,
    1660px	1297px	#E827A3,
    1885px	1516px	#58ED2A,
    1128px	718px	#38F942,
    1858px	264px	#1D98EF,
    652px	1782px	#08C88F,
    435px	320px	#BC4145,
    1678px	808px	#57218D,
    950px	328px	#4C472F,
    572px	228px	#BEC506,
    462px	1985px	#EA587C,
    971px	728px	#AC2127,
    317px	910px	#C27205,
    1565px	194px	#210E29,
    1888px	833px	#B77896,
    1474px	1791px	#4DF36A,
    532px	1493px	#AA9C35,
    1398px	385px	#ABFF7C,
    1155px	560px	#C68A90,
    1436px	1419px	#8F5FD7,
    429px	1130px	#C07815,
    1129px	1853px	#EB931A,
    538px	1149px	#B6C6FF,
    294px	796px	#D71614,
    472px	1354px	#932A4E,
    1747px	1532px	#CF56D2,
    1485px	1713px	#008CA0,
    600px	1902px	#1BC430,
    1910px	1893px	#C3843A,
    1568px	1719px	#334D2D,
    1467px	698px	#A55800,
    1750px	1634px	#861758,
    439px	1103px	#B3F795,
    993px	291px	#7C9378,
    1960px	1307px	#332070,
    1010px	1269px	#E2821A,
    960px	620px	#287E4E,
    519px	1507px	#AF1929,
    334px	399px	#E791B7,
    1712px	1055px	#8E1431,
    954px	566px	#6B6303,
    736px	1330px	#F36E15,
    1052px	34px	#AF3982,
    1624px	1790px	#2B5CD9,
    329px	1296px	#FB8968,
    1097px	745px	#D9912E,
    685px	1499px	#8C89BC,
    1701px	917px	#833845,
    464px	760px	#14FD77,
    1250px	1737px	#A32377,
    1750px	1402px	#A6F471,
    638px	1480px	#B0654C,
    418px	1228px	#E3A3DE,
    1263px	478px	#2EDC1B,
    454px	1969px	#DC7F4E,
    1173px	297px	#BCF8A2,
    67px	1963px	#986A3F,
    485px	72px	#D13CEF,
    952px	1951px	#B6910D,
    963px	914px	#23D863,
    1955px	757px	#03DDFD,
    1063px	1454px	#26CC3D,
    1201px	277px	#C00BB9,
    1781px	234px	#FFFA3F,
    847px	1540px	#879244,
    474px	642px	#A8E3AD,
    597px	1468px	#9E9A9E,
    1388px	1392px	#E37049,
    1232px	199px	#959EF1,
    1873px	1864px	#8EDC8A,
    838px	729px	#BEAE85,
    1220px	442px	#370E5A,
    621px	1469px	#30C14B,
    438px	220px	#FDDA63,
    1649px	1911px	#200BD1,
    1039px	277px	#7E721C,
    1785px	702px	#725E7D,
    397px	955px	#93D601,
    1829px	612px	#16CE80,
    1538px	963px	#51F1B5,
    471px	940px	#AA8E90,
    1077px	437px	#BEF3F9,
    282px	821px	#0EDA53,
    124px	430px	#E92811,
    449px	1328px	#0A2B91,
    134px	1370px	#F919F6,
    131px	88px	#8003A1,
    1949px	1273px	#7970FC,
    725px	271px	#9F3A28,
    1930px	1437px	#29613E,
    459px	9px	#090116,
    1953px	1616px	#BB6C5B,
    1257px	845px	#3C3455,
    368px	689px	#BB6112,
    1153px	655px	#F2197E,
    1667px	1943px	#B47BB4,
    1798px	8px	#BAD689,
    790px	1902px	#864BD1,
    1322px	654px	#41DD6E,
    1455px	1881px	#EAFC45,
    596px	1003px	#A5F49C,
    1253px	1777px	#446868,
    982px	1208px	#69751F,
    1700px	783px	#727538,
    1804px	549px	#87CCBB,
    1824px	814px	#D8A424,
    1162px	180px	#5515CF,
    1297px	940px	#F7FB75,
    1028px	574px	#19B3CC,
    1423px	433px	#D57B3E,
    1961px	1674px	#6F557E,
    802px	484px	#164DAE,
    1299px	517px	#21FC17,
    372px	900px	#8D103D,
    1730px	664px	#CDC84E,
    1048px	58px	#1D4D3E,
    1234px	1475px	#464EA4,
    1610px	255px	#E71761,
    316px	574px	#627873,
    1267px	125px	#C30ADF,
    862px	587px	#DE5306,
    1582px	1587px	#F39F3F,
    810px	1743px	#208496,
    516px	1091px	#AFE23F,
    373px	709px	#F34B06,
    248px	689px	#63E8C9,
    871px	1467px	#D6B514,
    1837px	1013px	#63B830,
    971px	1328px	#BB5B23,
    1778px	377px	#F72D55,
    499px	816px	#BDA718,
    728px	1006px	#897D53,
    1162px	748px	#9378E9,
    99px	1649px	#C948C9,
    423px	32px	#6662DF,
    1894px	300px	#CB5ECC,
    439px	1809px	#C1AEC0,
    166px	900px	#18BB7D,
    374px	1731px	#F179D6,
    1104px	66px	#57B327,
    962px	1491px	#6E05FE,
    1546px	1464px	#A27587,
    1556px	1720px	#6176FC,
    1875px	470px	#C9995F,
    331px	517px	#B2FAC3,
    157px	187px	#D7467C,
    326px	421px	#D02BF8,
    1129px	335px	#052284,
    304px	1878px	#F0667C,
    198px	1611px	#EA31B5,
    983px	1098px	#10496E,
    1482px	1860px	#132585,
    1123px	1114px	#B7F3CF,
    2px	1395px	#E56723,
    1480px	275px	#A54F75,
    1794px	1635px	#B0BEAA,
    375px	1777px	#DECB15,
    1245px	330px	#59082A,
    1738px	960px	#71BBDC,
    1228px	645px	#C94A2C,
    480px	834px	#C96516,
    111px	957px	#4F8725,
    31px	1617px	#F2192B,
    703px	1492px	#89A184,
    277px	673px	#344DC9,
    839px	771px	#9A3A23,
    1146px	304px	#1DE3F0,
    1039px	1662px	#11C93B,
    1088px	1297px	#9E61E1,
    1985px	1540px	#16AB08,
    1517px	1951px	#3B3FAB,
    1200px	1829px	#7A361E,
    242px	1548px	#BE7CD4,
    428px	1680px	#80739C,
    176px	112px	#5498EB,
    186px	756px	#5AA581,
    775px	797px	#9CA432,
    1379px	303px	#E9F929,
    1883px	733px	#051499,
    335px	1753px	#A01F04,
    262px	1047px	#E38F98,
    5px	1482px	#3D13F8,
    1130px	156px	#028CBB,
    1366px	1195px	#988A93,
    41px	1399px	#86AFE5,
    1615px	1088px	#ADE3B9,
    1950px	1282px	#95C7B7,
    1296px	315px	#137E4C,
    884px	351px	#E9E3D5,
    93px	457px	#D3E3B9,
    898px	521px	#FE9621,
    841px	696px	#129DA1,
    636px	1067px	#60B304,
    448px	922px	#F67637,
    1370px	1716px	#6D9699,
    1499px	804px	#69DAA8,
    294px	546px	#87524B,
    1513px	82px	#623DEE,
    1912px	623px	#9A4C7E,
    74px	1843px	#9D7A29,
    970px	569px	#D96A2D,
    819px	958px	#1CEEB0,
    430px	1450px	#8F6B8E,
    261px	832px	#AC2C83,
    1603px	22px	#7F4427,
    752px	1870px	#A8C8AE,
    760px	330px	#B2E72C,
    938px	1539px	#ECCD8B,
    1624px	222px	#29F8D8,
    1678px	551px	#EDAB6F,
    673px	1876px	#7EBBE6,
    1634px	565px	#CFD013,
    1463px	922px	#98DE09,
    1061px	1738px	#524683,
    1003px	1756px	#7D0648,
    1161px	1985px	#D4EFAA,
    602px	1843px	#0B5230,
    1285px	317px	#808EE6,
    1593px	1796px	#154BB9,
    965px	324px	#D65D6C,
    1065px	1005px	#3E1BC8,
    1250px	1149px	#BA8EBE,
    931px	827px	#BB8BF0,
    451px	626px	#22C835,
    1897px	1092px	#0663E5,
    1862px	1578px	#4FF7F8,
    297px	917px	#5EF8E6,
    1233px	1605px	#0DB6C8,
    89px	233px	#0B28A8,
    1666px	1619px	#D63031,
    584px	699px	#702ECC,
    955px	1288px	#EF9A44,
    326px	1420px	#83BA3B,
    147px	1734px	#BFCC9B,
    1476px	1813px	#6ED23F,
    160px	275px	#53F95E,
    303px	1790px	#E9F145,
    1507px	1240px	#B9C985,
    532px	1190px	#90936B,
    1861px	1556px	#155748,
    328px	1672px	#FB21CF,
    1803px	284px	#F6B6FB,
    1526px	1107px	#EED424,
    1188px	563px	#3A1F53,
    1895px	1876px	#9ADBC8,
    1847px	807px	#E73772,
    1882px	1771px	#2B4C37,
    675px	1345px	#2D704F,
    59px	1143px	#D000B7,
    917px	353px	#349DE4,
    1363px	425px	#CDCDA8,
    1021px	1838px	#B0B5A5,
    1571px	305px	#68BD27,
    1559px	429px	#6F65B9,
    1470px	1531px	#F3AD0B,
    1141px	1791px	#408DF0,
    619px	1969px	#157622,
    243px	1783px	#78842D,
    1243px	1147px	#4A71B7,
    504px	1412px	#487822,
    936px	1006px	#FD06B6,
    1845px	1819px	#DAD0F7,
    22px	841px	#EF7E1D,
    161px	957px	#37156B,
    691px	1163px	#606C13,
    1529px	849px	#3FAB2C,
    1719px	301px	#E82C85,
    925px	666px	#404F5E,
    430px	210px	#180E92,
    1044px	1922px	#570290,
    797px	229px	#674599,
    1509px	300px	#42F1ED,
    1662px	800px	#7B7219,
    1449px	289px	#166C34,
    850px	1748px	#3897CE,
    1932px	640px	#BB03AE,
    1864px	1647px	#7FDB93,
    237px	709px	#F75CC9,
    100px	963px	#9DD5C5,
    334px	819px	#EEDDBA,
    63px	933px	#1DC58B,
    812px	1699px	#9FEAD2,
    1985px	1305px	#D8E427,
    520px	976px	#03321B,
    1370px	1963px	#03C73B,
    175px	617px	#87EACF,
    1310px	1707px	#4352CE,
    863px	546px	#415D02,
    1259px	127px	#3190D8,
    1334px	1259px	#2B3B5B,
    200px	1740px	#6A8FA7,
    1408px	190px	#5BBAE5,
    845px	794px	#B77202,
    1071px	1052px	#FAE8BA,
    830px	804px	#8BCBAF,
    1260px	445px	#9D1B3D,
    494px	1174px	#7F32CD,
    1583px	261px	#4B3A86,
    697px	1159px	#193B54,
    1336px	1910px	#15D1D9,
    1630px	1501px	#EFC231,
    1083px	622px	#9065FA,
    1625px	1982px	#F845DA,
    1675px	882px	#06CC20,
    858px	1116px	#73134B,
    487px	796px	#FF58A4,
    1682px	898px	#E73D2F,
    818px	868px	#AC5876,
    821px	962px	#F84F5E,
    1183px	1898px	#F8EFBB,
    66px	1323px	#ECB426,
    1225px	626px	#018A93,
    1939px	1196px	#8B837E,
    499px	1101px	#115ACD,
    1718px	883px	#FDB1D5,
    1482px	1508px	#B400F8,
    1750px	1342px	#E52781,
    567px	1446px	#EEFEA1,
    588px	439px	#5C305A,
    432px	1885px	#0C776A,
    481px	1787px	#2D1269,
    473px	129px	#C9E51A,
    279px	1890px	#7CBF91,
    163px	141px	#B6C8A6,
    1320px	1696px	#08815E,
    559px	1253px	#DB2248,
    1573px	852px	#F66C1A,
    1481px	893px	#CB8D28,
    1634px	325px	#1166A3,
    1733px	598px	#2F0842,
    1282px	855px	#456108,
    355px	862px	#59CF7B,
    1252px	392px	#5A48B0,
    61px	1091px	#9DBB56,
    720px	1639px	#28EF54,
    1259px	1020px	#9596BB,
    954px	1572px	#9934A5,
    1699px	1603px	#C525FB,
    236px	1045px	#E53A0F,
    1839px	366px	#D89C19,
    1781px	1535px	#187A67,
    1142px	338px	#5D2D01,
    1491px	1703px	#7860DA,
    1155px	1197px	#A9E16F,
    453px	558px	#F4D74D,
    1485px	1134px	#A06A1D,
    832px	339px	#EBDA1A,
    601px	885px	#85CAA2,
    459px	1091px	#3A204E,
    1058px	497px	#B41FA0,
    537px	718px	#659DE1,
    1134px	105px	#50942F,
    1164px	1123px	#AF86DF,
    303px	1484px	#6D87A0,
    1684px	1695px	#56CF04,
    1756px	538px	#B46D06,
    1383px	1879px	#BEDEA2,
    797px	646px	#799372,
    422px	1718px	#133A87,
    401px	377px	#E5FAC4,
    1159px	271px	#18C0F2,
    1564px	1398px	#2AAA62,
    244px	751px	#E064E4,
    1026px	1062px	#39262B,
    186px	1572px	#BF90F7,
    580px	1637px	#F8AC3D,
    1145px	732px	#389E15,
    829px	1033px	#1355F4,
    3px	539px	#367351,
    1966px	635px	#0F570B,
    1243px	1959px	#051CAC,
    1358px	763px	#99EC90,
    1262px	759px	#AA9C8A,
    1642px	1625px	#7F13FA,
    213px	668px	#5D4775,
    788px	943px	#3E77A3,
    179px	394px	#A3F7D2,
    1621px	848px	#3874F7,
    1436px	886px	#4CA13A,
    1459px	238px	#A6ABAA,
    956px	297px	#CBA702,
    458px	1116px	#06C11F,
    239px	1493px	#CC739A,
    663px	1641px	#B15FEB,
    1834px	1316px	#2CC95D,
    1760px	1089px	#CFAC5D,
    1918px	1275px	#D031FC,
    928px	934px	#DF57DA,
    235px	1734px	#E263DB,
    963px	582px	#DFF839,
    1813px	1733px	#05E5DF,
    1023px	1558px	#8DA1B1,
    275px	407px	#864855,
    181px	505px	#892090,
    821px	1146px	#25EDA2,
    1798px	29px	#05476B,
    1042px	1742px	#268EEB,
    1160px	411px	#B2B89F,
    51px	55px	#408505,
    534px	335px	#F2FEAD,
    1804px	126px	#539E45,
    1620px	889px	#6B162A,
    758px	190px	#75CD98,
    579px	710px	#4FEA8E,
    1447px	97px	#D3FC35,
    1709px	635px	#BAEF37,
    141px	419px	#DBB85F,
    855px	724px	#393A1C,
    24px	330px	#979572,
    1658px	1459px	#B5127B,
    1917px	1630px	#BC8D95,
    1622px	1676px	#39C266,
    1786px	1058px	#F57B44,
    161px	1781px	#0C635F,
    630px	1333px	#CA20A4,
    1453px	46px	#BA263E,
    984px	1332px	#75B590,
    559px	1155px	#93A243,
    946px	1879px	#E78D71,
    1002px	686px	#EB8510,
    1285px	758px	#346B58,
    594px	1641px	#3B6C09,
    1919px	1357px	#6266B1,
    422px	1957px	#CBC403,
    1858px	913px	#93A661,
    1571px	190px	#931BFA,
    1095px	1336px	#28BC84,
    1058px	51px	#0EE20E,
    1627px	1872px	#723901,
    54px	1634px	#A7E650,
    1052px	687px	#328110,
    1867px	291px	#566939,
    1312px	1976px	#0A0EF9,
    1505px	195px	#247938,
    55px	765px	#819735,
    806px	1430px	#FD7636,
    286px	310px	#268ADE,
    355px	610px	#995CCD,
    1361px	397px	#F068D3,
    604px	1407px	#803043,
    1531px	544px	#5C18A1,
    82px	1416px	#78E2C2,
    1129px	1676px	#85ADAF,
    1216px	1525px	#013725,
    247px	865px	#A0F3F4,
    1446px	1513px	#B59AF7,
    229px	137px	#DDF47D,
    1119px	414px	#F31A3A,
    1423px	747px	#252DE0,
    1240px	1916px	#D661C3,
    1843px	1355px	#4CD2F1,
    1122px	1285px	#711431,
    480px	359px	#EB1AFE,
    485px	268px	#9E77A7,
    1709px	1130px	#2D49F0,
    1631px	1020px	#3B9D5C,
    142px	1488px	#9F72CF,
    863px	1219px	#A4D0C1,
    1357px	217px	#5F15AD,
    1381px	759px	#703F2C,
    915px	568px	#C393D3,
    148px	68px	#D322A1,
    175px	681px	#FD6DEC,
    1252px	943px	#296B63,
    1608px	1305px	#A979DF,
    1058px	218px	#B6A64A,
    933px	197px	#1115FC,
    229px	1654px	#683778,
    1576px	670px	#AD8871,
    1992px	448px	#2F8054,
    662px	1077px	#CCDC2B,
    626px	1477px	#0CDDF1,
    360px	1600px	#4769BF,
    632px	1044px	#C55FED,
    210px	1091px	#684B81,
    1793px	1599px	#C5614E,
    224px	1872px	#438E14,
    1711px	1869px	#2D8533,
    1632px	365px	#66636E,
    1567px	749px	#488E76,
    1599px	1738px	#0158BE,
    393px	591px	#2A5E0F,
    1807px	1812px	#11D381,
    1380px	302px	#352347,
    949px	1481px	#DCD071,
    1614px	1921px	#021E63,
    1069px	1893px	#4E9733,
    918px	283px	#C16BBA,
    1252px	762px	#870BD8,
    619px	436px	#DD42E7,
    1736px	1526px	#D5AFD3,
    435px	657px	#5C9704,
    83px	1862px	#7B21FF,
    1707px	279px	#B5E5DB,
    728px	977px	#A49E6C,
    1558px	447px	#B0F911,
    1965px	745px	#0489B0,
    1114px	1659px	#30B1AF,
    83px	378px	#81E6AB,
    1203px	1485px	#06CCBA,
    152px	1902px	#A51026,
    623px	26px	#9AEC6D,
    1662px	400px	#DBC08D,
    880px	1276px	#6CD1E3,
    44px	826px	#73980A,
    789px	920px	#AAE248,
    1326px	1046px	#DFC81A,
    939px	1340px	#530654,
    1208px	1812px	#7F2F9E,
    1706px	913px	#F42E78,
    714px	910px	#EAB8FD,
    1648px	66px	#DD4580,
    1906px	1790px	#09117E,
    1441px	318px	#ACE6DF,
    1803px	1498px	#293A91,
    712px	1619px	#B78E98,
    1233px	1517px	#A41A7E,
    298px	379px	#391C5B,
    341px	60px	#1A518F,
    979px	1439px	#6B17E4,
    902px	1272px	#438C16,
    1053px	792px	#E43861,
    1396px	1930px	#CD9461,
    396px	1246px	#E29BA0,
    1952px	873px	#2816ED,
    93px	415px	#2C4BDE,
    1099px	776px	#26E590,
    1575px	433px	#CB463E,
    313px	1386px	#AE248B,
    137px	1956px	#76954E,
    224px	223px	#168717,
    1728px	1184px	#1B9F5F,
    1598px	69px	#0DD9C3,
    1905px	522px	#7A5834,
    332px	1129px	#69D226,
    478px	254px	#5AE7E3,
    754px	1739px	#076CF9,
    762px	566px	#61F6EC,
    1022px	1504px	#368D7D,
    749px	311px	#EB9382,
    1452px	187px	#F6E86D,
    1736px	1674px	#D50873,
    492px	1677px	#0C8C36,
    1148px	1117px	#8021BE,
    1881px	1359px	#9A25CA,
    1384px	1053px	#2C7E8D,
    380px	802px	#6773D0,
    883px	135px	#9F1761,
    403px	915px	#E9977F,
    879px	1487px	#9A2117,
    255px	219px	#C6C43C,
    1392px	1200px	#94B8B6,
    226px	179px	#25CEB9,
    1748px	953px	#2E6762,
    1887px	1222px	#96F56B,
    56px	452px	#B14988,
    1568px	1826px	#494E7A,
    1722px	1077px	#8857A0,
    1042px	465px	#3137D9,
    272px	128px	#EAA704,
    917px	211px	#B61493,
    1197px	1819px	#1B60A4,
    1848px	742px	#34245F,
    866px	384px	#BA41EB,
    460px	1917px	#6CC4FF,
    112px	14px	#282E22,
    1687px	1559px	#34B858,
    260px	1666px	#538A3E,
    726px	1297px	#5E72E3;}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 
  1372px	1858px	#596319,
  1499px	604px	#B6CB5F,
  909px	906px	#A6E989,
  1107px	943px	#47DD39,
  1697px	479px	#2DF5B7,
  656px	385px	#C68591,
  966px	1628px	#52D8AF,
  194px	217px	#62AE8C,
  341px	1031px	#45C98C,
  700px	1777px	#294047,
  112px	318px	#34478D,
  1998px	230px	#671B3B,
  1435px	1757px	#8E7A57,
  1699px	1605px	#F37234,
  117px	1083px	#1FC58A,
  1941px	1423px	#44D7F8,
  1240px	1688px	#19BAB9,
  557px	458px	#E35F92,
  1669px	1628px	#5A2306,
  542px	875px	#EDD74F,
  1530px	836px	#B74DDB,
  465px	120px	#42DA6F,
  667px	1189px	#0A1190,
  568px	1177px	#EE29DB,
  908px	1474px	#8DEE16,
  1635px	622px	#2CDDD8,
  1069px	1470px	#612739,
  1350px	173px	#C7945D,
  669px	1984px	#E39A4F,
  591px	823px	#C9573E,
  974px	1499px	#15530A,
  1093px	357px	#82F3A8,
  1821px	944px	#D9F6A8,
  981px	688px	#E7CAFD,
  1490px	1669px	#5DF6C3,
  1364px	1964px	#0EB7A3,
  1625px	1841px	#12BF4C,
  231px	613px	#F3B7FD,
  1166px	1383px	#EA73B0,
  667px	155px	#638758,
  706px	1834px	#F1CFC6,
  581px	469px	#2261FE,
  1828px	1941px	#D803A1,
  1538px	1059px	#1C5270,
  1427px	1159px	#9C894B,
  1491px	1546px	#FD718A,
  890px	778px	#78C712,
  1813px	280px	#E21E38,
  1012px	1992px	#310463,
  143px	1095px	#25776C,
  1847px	1747px	#226878,
  1927px	525px	#7D8D8D,
  220px	128px	#091F7A,
  513px	1035px	#6E08DE,
  176px	371px	#BF845B,
  532px	1909px	#82EFAD,
  368px	1849px	#A99391,
  1613px	1211px	#432806,
  1521px	163px	#F03B1F,
  1633px	1096px	#0C7178,
  103px	1165px	#27F487,
  1742px	1162px	#BC52C3,
  1260px	439px	#253019,
  413px	1383px	#7231B5,
  1496px	1917px	#4C6297,
  1345px	969px	#25D7E3,
  851px	48px	#09110E,
  1135px	40px	#9A45D1,
  422px	143px	#6FD85D,
  1368px	1642px	#EDDB5B,
  1123px	51px	#3DB84F,
  987px	1620px	#73A7F5,
  20px	1804px	#A12061,
  1044px	1886px	#FA96D5,
  1299px	147px	#24437B,
  1936px	607px	#2F7F1D,
  1344px	1086px	#DC8ACC,
  1329px	968px	#AAB55D,
  802px	844px	#AD79B2,
  1413px	1822px	#030966,
  759px	1544px	#274423,
  515px	1359px	#0E2B46,
  1102px	1176px	#5E684D,
  261px	88px	#95E26F,
  1489px	1152px	#6B8396,
  66px	1908px	#301D48,
  826px	154px	#BF628C,
  628px	413px	#488D37,
  383px	1663px	#F1230D,
  1924px	973px	#417939,
  258px	1604px	#99F297,
  465px	62px	#EDFF94,
  1515px	187px	#E24D55,
  637px	142px	#562818,
  294px	156px	#A63CBD,
  1389px	824px	#23401A,
  560px	5px	#CEE9ED,
  1261px	1708px	#74BABD,
  1587px	1399px	#966AD4,
  1401px	1996px	#419CE0,
  1573px	973px	#5F3F2A,
  451px	1563px	#E2CE44,
  1008px	163px	#27C3D9,
  1079px	459px	#52EC53,
  408px	1577px	#08A4BA,
  1528px	1130px	#F54C01,
  808px	803px	#D701FB,
  649px	39px	#EC071D,
  1833px	234px	#0B3C76,
  174px	329px	#1F25A1,
  867px	379px	#E19B12,
  1304px	79px	#559432,
  357px	369px	#D86498,
  1137px	1174px	#2B86C6,
  513px	1346px	#675045,
  791px	1362px	#D6339C,
  832px	383px	#3238AD,
  125px	961px	#A2D278,
  907px	1756px	#F97BFE,
  1786px	1519px	#1065B7,
  1634px	90px	#F64332,
  320px	1377px	#E54E19,
  1832px	1651px	#8FC09B,
  385px	1220px	#8D5E83,
  1372px	1073px	#F3C100,
  1074px	1064px	#98F58E,
  182px	587px	#A05378,
  354px	1887px	#A12626,
  66px	1193px	#7AB74C,
  1904px	1942px	#4FD897,
  320px	394px	#FEB593,
  754px	320px	#52C106,
  297px	1674px	#4D4439,
  311px	428px	#33E59F,
  1647px	996px	#409417,
  1358px	1586px	#C11FA9,
  1350px	1564px	#AC65A2,
  695px	976px	#60F307,
  913px	808px	#FF3803,
  57px	1973px	#21ABDA,
  1223px	1452px	#55A582,
  1225px	1618px	#026FC4,
  617px	1602px	#8EEC5A,
  844px	1849px	#E4615A,
  58px	1067px	#B05995,
  47px	911px	#100C74,
  164px	826px	#FFA7B9,
  1367px	1589px	#DD8DB5,
  1306px	1008px	#7C701B,
  798px	1606px	#A4D2D6,
  1026px	1743px	#FF3AB2,
  1425px	439px	#2584CF,
  1428px	825px	#117B15,
  1301px	1114px	#B00111,
  208px	969px	#694400,
  1324px	1166px	#2B8445,
  1763px	1494px	#09C9A6,
  350px	356px	#177B63,
  844px	83px	#9901DC,
  1814px	14px	#61B41B,
  1436px	294px	#840270,
  1225px	908px	#9B2DD9,
  1105px	1257px	#E9CBFB,
  271px	1897px	#EA096F,
  940px	1516px	#A82A7B,
  52px	1557px	#EC63C1,
  1027px	730px	#C96262,
  639px	1712px	#488A6D,
  408px	1949px	#6E134C,
  1035px	1756px	#93398C,
  880px	577px	#7AB31B,
  224px	1132px	#3CC88B,
  1736px	243px	#61D033,
  889px	1120px	#07F7D7,
  1804px	1415px	#D8E9A0,
  1762px	1036px	#ED7A6C,
  532px	306px	#79A7AB,
  1870px	288px	#1BEEEF,
  246px	434px	#F6179B,
  1242px	454px	#EBA8E6,
  861px	1172px	#0B5EAB,
  1651px	1000px	#D13674,
  513px	1645px	#9AEEE9,
  907px	195px	#60C8D0,
  1202px	769px	#E1B6C6,
  710px	598px	#840737,
  1672px	738px	#32C081,
  6px	294px	#DDF2A5,
  1238px	613px	#170B1B,
  632px	1227px	#882B2E,
  194px	1551px	#C75BD9,
  1535px	1861px	#40608B,
  373px	1016px	#D0387C,
  1138px	204px	#70D067,
  1262px	1505px	#050B9D,
  1475px	724px	#3D579B,
  732px	1992px	#E3643C,
  1243px	164px	#C1FE37,
  25px	1914px	#317D50,
  1124px	930px	#C69E52;

  animation: animStar 100s linear infinite;}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 
    1372px 1858px #FFF,
    1499px	604px	#426F10,
    909px	906px	#276061,
    1107px	943px	#3BC5A6,
    1697px	479px	#5C112D,
    656px	385px	#D53FBB,
    966px	1628px	#724102,
    194px	217px	#34897A,
    341px	1031px	#EED1EE,
    700px	1777px	#3553AC,
    112px	318px	#2FBECB,
    1998px	230px	#FB894C,
    1435px	1757px	#9964C2,
    1699px	1605px	#062BD7,
    117px	1083px	#117392,
    1941px	1423px	#345B74,
    1240px	1688px	#756BD7,
    557px	458px	#2D76FC,
    1669px	1628px	#0D804E,
    542px	875px	#0B0EBB,
    1530px	836px	#F32692,
    465px	120px	#BF4585,
    667px	1189px	#B15137,
    568px	1177px	#562FA3,
    908px	1474px	#30CBBB,
    1635px	622px	#AE4D7F,
    1069px	1470px	#8849BB,
    1350px	173px	#69519E,
    669px	1984px	#22CCB7,
    591px	823px	#981F60,
    974px	1499px	#40A4AE,
    1093px	357px	#39E633,
    1821px	944px	#F0124B,
    981px	688px	#5FAEF0,
    1490px	1669px	#6D8D93,
    1364px	1964px	#8492CC,
    1625px	1841px	#56F06B,
    231px	613px	#3490F3,
    1166px	1383px	#C37B71,
    667px	155px	#AEBE7E,
    706px	1834px	#5A7D13,
    581px	469px	#59FDDF,
    1828px	1941px	#C97BAA,
    1538px	1059px	#1366F8,
    1427px	1159px	#4F4EC3,
    1491px	1546px	#784AB3,
    890px	778px	#91A1A4,
    1813px	280px	#3A8E8C,
    1012px	1992px	#A25010,
    143px	1095px	#91B0AC,
    1847px	1747px	#B692BD,
    1927px	525px	#2B6271,
    220px	128px	#A4AD87,
    513px	1035px	#EDECE6,
    176px	371px	#7C2F36,
    532px	1909px	#CEBBFC,
    368px	1849px	#363D9E,
    1613px	1211px	#8EC32A,
    1521px	163px	#6A7A30,
    1633px	1096px	#EBF562,
    103px	1165px	#815F3E,
    1742px	1162px	#A75B70,
    1260px	439px	#A6F388,
    413px	1383px	#BF1592,
    1496px	1917px	#C17775,
    1345px	969px	#CDB5D4,
    851px	48px	#DA9008,
    1135px	40px	#F8C5C9,
    422px	143px	#EF79F9,
    1368px	1642px	#CF536E,
    1123px	51px	#A621F6,
    987px	1620px	#13BACB,
    20px	1804px	#3B0D43,
    1044px	1886px	#3B2351,
    1299px	147px	#C1DC2A,
    1936px	607px	#186144,
    1344px	1086px	#D4574C,
    1329px	968px	#8FAE15,
    802px	844px	#60038B,
    1413px	1822px	#075410,
    759px	1544px	#FC66BB,
    515px	1359px	#DCD1F8,
    1102px	1176px	#BA58B8,
    261px	88px	#5717EE,
    1489px	1152px	#CFE489,
    66px	1908px	#847875,
    826px	154px	#1851FA,
    628px	413px	#C57BDD,
    383px	1663px	#C5B6C3,
    1924px	973px	#9BFD6F,
    258px	1604px	#C2965F,
    465px	62px	#DDAF9F,
    1515px	187px	#D42FA5,
    637px	142px	#4D9FC6,
    294px	156px	#E91EB6,
    1389px	824px	#EEB577,
    560px	5px	#21FD40,
    1261px	1708px	#D9F5DC,
    1587px	1399px	#E6250A,
    1401px	1996px	#970490,
    1573px	973px	#6BF1BE,
    451px	1563px	#B3A44D,
    1008px	163px	#841C80,
    1079px	459px	#1FC2A5,
    408px	1577px	#1A1491,
    1528px	1130px	#157020,
    808px	803px	#560748,
    649px	39px	#708CD1,
    1833px	234px	#4A68DB,
    174px	329px	#D32B78,
    867px	379px	#FB466E,
    1304px	79px	#B7D23B,
    357px	369px	#3BE942,
    1137px	1174px	#3FB9B2,
    513px	1346px	#6784C7,
    791px	1362px	#ABBADB,
    832px	383px	#E83EE3,
    125px	961px	#84ED50,
    907px	1756px	#7DBB16,
    1786px	1519px	#88E00B,
    1634px	90px	#2942E5,
    320px	1377px	#6D66EC,
    1832px	1651px	#E86794,
    385px	1220px	#D39777,
    1372px	1073px	#41078C,
    1074px	1064px	#842431,
    182px	587px	#CFA7BA,
    354px	1887px	#BB9B3A,
    66px	1193px	#1F3F6B,
    1904px	1942px	#8CFC53,
    320px	394px	#F56AF5,
    754px	320px	#94A68E,
    297px	1674px	#5B247D,
    311px	428px	#D0A84A,
    1647px	996px	#5A80CE,
    1358px	1586px	#83E758,
    1350px	1564px	#6831AC,
    695px	976px	#865721,
    913px	808px	#D79CB0,
    57px	1973px	#98FF19,
    1223px	1452px	#F33112,
    1225px	1618px	#05AC04,
    617px	1602px	#306B52,
    844px	1849px	#528C7C,
    58px	1067px	#1AC451,
    47px	911px	#74A565,
    164px	826px	#F0CCF9,
    1367px	1589px	#C7BBB1,
    1306px	1008px	#0CA9E7,
    798px	1606px	#D5C29D,
    1026px	1743px	#26A9EA,
    1425px	439px	#9B8553,
    1428px	825px	#8F603D,
    1301px	1114px	#530CE5,
    208px	969px	#6E9232,
    1324px	1166px	#BF7B60,
    1763px	1494px	#15CF73,
    350px	356px	#01D6E2,
    844px	83px	#D78341,
    1814px	14px	#878A67,
    1436px	294px	#D90A12,
    1225px	908px	#E61D59,
    1105px	1257px	#B5E19F,
    271px	1897px	#81CDD8,
    940px	1516px	#576DD4,
    52px	1557px	#885EE1,
    1027px	730px	#C28400,
    639px	1712px	#8D4D0C,
    408px	1949px	#B7AB09,
    1035px	1756px	#745E1C,
    880px	577px	#ABC688,
    224px	1132px	#1C4AE9,
    1736px	243px	#D24349,
    889px	1120px	#B672DC,
    1804px	1415px	#C50559,
    1762px	1036px	#9E676A,
    532px	306px	#59B300,
    1870px	288px	#0771F3,
    246px	434px	#DA81D2,
    1242px	454px	#5F8C67,
    861px	1172px	#6E5B38,
    1651px	1000px	#AD27C1,
    513px	1645px	#730EFF,
    907px	195px	#0B13CC,
    1202px	769px	#99E3A0,
    710px	598px	#87E8D5,
    1672px	738px	#F5A175,
    6px	294px	#BC05E9,
    1238px	613px	#C3C86D,
    632px	1227px	#9CA0BD,
    194px	1551px	#3ED9BF,
    1535px	1861px	#9795BB,
    373px	1016px	#008A17,
    1138px	204px	#2C6972,
    1262px	1505px	#0AF35F,
    1475px	724px	#5CB5F8,
    732px	1992px	#85AFCB,
    1243px	164px	#74786B,
    25px	1914px	#A05F14,
    1124px	930px	#A94077;}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 
    736px 705px #FFF,
    1657px	1848px	#9E0407,
    316px	1036px	#01B205,
    1706px	293px	#81EB18,
    1631px	473px	#13EE80,
    1951px	211px	#D08AA5,
    403px	199px	#1531C1,
    1984px	862px	#E64CED,
    1559px	400px	#2CE03C,
    509px	591px	#33D341,
    963px	471px	#4B2D28,
    1440px	1345px	#2E225C,
    240px	706px	#964AB4,
    1902px	982px	#FFB227,
    498px	1px	#CF1A42,
    671px	596px	#6FCBFA,
    1894px	442px	#24C53A,
    121px	379px	#6035F8,
    1907px	1449px	#40837F,
    385px	588px	#3E2AEC,
    490px	142px	#BED0E4,
    749px	1705px	#959EFD,
    678px	1824px	#32E25B,
    1376px	788px	#4BF9A9,
    1651px	86px	#24B69A,
    1832px	641px	#FA0410,
    1708px	1803px	#AE7977,
    571px	1994px	#B21A1C,
    1116px	415px	#16D202,
    509px	718px	#57B66A,
    1435px	922px	#0F321A,
    1668px	404px	#84A59A,
    1907px	793px	#FE93DE,
    755px	1413px	#AAFEC4,
    1630px	1873px	#766310,
    469px	821px	#128EAC,
    1874px	155px	#B4240A,
    758px	494px	#AAC5A5,
    1889px	1681px	#0F29C1,
    177px	1123px	#DB3175,
    180px	1945px	#F058E9,
    1477px	1195px	#859A4F,
    450px	865px	#EDBDA9,
    1774px	750px	#CD1E25,
    994px	1387px	#1BC7D5,
    1781px	1268px	#305C8D,
    1810px	1103px	#6202DA,
    1516px	1055px	#4EEFEE,
    1643px	1585px	#2FAB19,
    382px	746px	#BA22B3,
    443px	574px	#5C5B66,
    723px	215px	#DF7C89,
    1849px	954px	#D7C59B,
    265px	803px	#0AFA91,
    751px	649px	#45A987,
    351px	617px	#FD35AD,
    548px	1501px	#92A6FA,
    1197px	1988px	#D315F0,
    395px	1177px	#636DB0,
    407px	536px	#29E362,
    1548px	511px	#B67C06,
    297px	1394px	#A25B42,
    1369px	1102px	#9C4249,
    617px	687px	#2A7D1C,
    590px	810px	#3D85D2,
    1170px	1860px	#45BCEA,
    1598px	1653px	#D72743,
    856px	384px	#C33134,
    1283px	226px	#85B2DE,
    1602px	382px	#207DB2,
    1311px	1641px	#B7EE1C,
    1662px	622px	#DF3669,
    1282px	1230px	#D9374B,
    1122px	710px	#B78C40,
    201px	494px	#EC310B,
    318px	606px	#CE1A41,
    730px	410px	#C8321D,
    1433px	1675px	#013B33,
    1894px	1358px	#BAD849,
    1155px	296px	#105F46,
    490px	140px	#41F80C,
    66px	1536px	#ECD776,
    762px	1502px	#D3D69B,
    1258px	562px	#56A78B,
    431px	1228px	#AE1EDB,
    1978px	1257px	#A10F16,
    541px	1138px	#07EAEB,
    947px	662px	#997A19,
    454px	1170px	#FD5B5F,
    396px	1075px	#C52791,
    1793px	949px	#14B3C3,
    1173px	1361px	#D39BE3,
    1264px	430px	#FA5A66,
    1904px	1544px	#69BD59,
    1301px	1395px	#B1E6F0,
    193px	220px	#683C7C,
    1973px	1756px	#93DBC2,
    730px	1902px	#19BA10,
    1838px	1066px	#C484D7,
    72px	131px	#CF2A29;

      animation: animStar 150s linear infinite;}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 
    736px 705px #FFF,
    1657px	1848px	#915896,
    316px	1036px	#5AA144,
    1706px	293px	#9A9719,
    1631px	473px	#D70E06,
    1951px	211px	#DAF4C5,
    403px	199px	#F19557,
    1984px	862px	#DD0D11,
    1559px	400px	#784B91,
    509px	591px	#802EDF,
    963px	471px	#1BFE93,
    1440px	1345px	#7306F5,
    240px	706px	#8EA91B,
    1902px	982px	#4B2431,
    498px	1px	#07AF1B,
    671px	596px	#41310E,
    1894px	442px	#5250CA,
    121px	379px	#9DF1B0,
    1907px	1449px	#7EEB75,
    385px	588px	#8898F2,
    490px	142px	#FA47C1,
    749px	1705px	#EC1F20,
    678px	1824px	#8B7A6B,
    1376px	788px	#2C8C82,
    1651px	86px	#DC7A1F,
    1832px	641px	#B3F9FB,
    1708px	1803px	#DCB574,
    571px	1994px	#3D3F23,
    1116px	415px	#C19701,
    509px	718px	#C895C8,
    1435px	922px	#64499B,
    1668px	404px	#180FB5,
    1907px	793px	#68AD55,
    755px	1413px	#7B602F,
    1630px	1873px	#5B38E7,
    469px	821px	#4CA574,
    1874px	155px	#5250AE,
    758px	494px	#FDFA5D,
    1889px	1681px	#5F1158,
    177px	1123px	#B0058E,
    180px	1945px	#A8F6F6,
    1477px	1195px	#25F6B0,
    450px	865px	#46378C,
    1774px	750px	#BEF80B,
    994px	1387px	#E267F3,
    1781px	1268px	#D1A1AE,
    1810px	1103px	#4C529F,
    1516px	1055px	#8C7BEC,
    1643px	1585px	#BD4D89,
    382px	746px	#520ABC,
    443px	574px	#D2C6FF,
    723px	215px	#B6BB6D,
    1849px	954px	#837C17,
    265px	803px	#038CD6,
    751px	649px	#375C68,
    351px	617px	#1BFA29,
    548px	1501px	#B9D529,
    1197px	1988px	#0787AF,
    395px	1177px	#B4FFD9,
    407px	536px	#B52B29,
    1548px	511px	#1EE5CF,
    297px	1394px	#7550BF,
    1369px	1102px	#827FDB,
    617px	687px	#05E14C,
    590px	810px	#065894,
    1170px	1860px	#016150,
    1598px	1653px	#9795BF,
    856px	384px	#F6A2C0,
    1283px	226px	#441EFD,
    1602px	382px	#2016E3,
    1311px	1641px	#D34E98,
    1662px	622px	#C14D72,
    1282px	1230px	#602DCD,
    1122px	710px	#5DD28A,
    201px	494px	#DDC5FE,
    318px	606px	#644D21,
    730px	410px	#66449B,
    1433px	1675px	#E11E86,
    1894px	1358px	#26C16A,
    1155px	296px	#3278B9,
    490px	140px	#649CDC,
    66px	1536px	#76E879,
    762px	1502px	#EB72ED,
    1258px	562px	#01DA48,
    431px	1228px	#3AEA4C,
    1978px	1257px	#941F67,
    541px	1138px	#9F380B,
    947px	662px	#62EAD9,
    454px	1170px	#B45546,
    396px	1075px	#F366EB,
    1793px	949px	#8A9E5F,
    1173px	1361px	#AE1BBC,
    1264px	430px	#506658,
    1904px	1544px	#507945,
    1301px	1395px	#EC7617,
    193px	220px	#2F109C,
    1973px	1756px	#383367,
    730px	1902px	#7EB304,
    1838px	1066px	#C948A3,
    72px	131px	#AF9025,}


@keyframes animStar {
  from {transform: translateY(0px);}
  to {transform: translateY(-2000px);}}

