* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;}

body, html {
    height: 100%;
    scroll-behavior: smooth;
    background-color: #000000;}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;}

.header-container {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000000;}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    transition: background-color 0.3s ease;}

.brand-custom {
    display: flex;
    align-items: center;}

.firstName {
    color: #FF3D00;
    font-size: 44px;
    font-weight: bold;
    transition: color 0.3s ease;}

.lastName {
    color: #FFFFFF;
    font-size: 44px;
    margin-left: 5px;}

.nav-links-custom {
    display: flex;
    list-style: none;}

.nav-links-custom li {
    position: relative;
    margin-left: 30px;}

.nav-links-custom li a {
    text-decoration: none;
    color: #ff0000;
    font-size: 20px;
    padding: 12px 20px;
    border: 0.5px rgba(0, 76, 255, 0.705) solid;
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;}

.nav-links-custom li a:hover {
    color: #f6ff00;
    background-color: rgba(34, 0, 255, 0.57);
    transform: translateY(-2px);}

.nav-links-custom li a.active {
    color: #09ff00;
    font-weight: bold;}

.nav-links-custom li a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #009dff;
    bottom: -5px;
    left: 0;
    transform: scaleX(1);
    transition: transform 0.3s ease;}

.nav-links-custom li a:hover::after {transform: scaleX(1.01);}

.iframe-content {
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 140px);
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);}

.footer-container {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    bottom: 0px;
    position: relative  ;
    padding: 15px;
    height: 50px;
    font-size: 14px;}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;}

.hamburger .line {
    height: 3px;
    width: 30px;
    background-color: #FF3D00;
    margin: 4px 0;}

@media (max-width: 1260px) {
    .nav-links-custom {
        display: none;
        flex-direction: column;
        width: 250px; /* Ajusta el ancho según sea necesario */
        position: absolute;
        padding: 27px;
        top: 60px;
        right: 0; /* Coloca el menú a la derecha */
        background-color: #040028;
        z-index: 1000;
        align-items: flex-start; /* Alinear los elementos a la izquierda */
        transition: all 8s ease-in-out;
    }

    .nav-links-custom.active {
        display: flex;
        border-radius: 12px;
    }

    .nav-links-custom li a.active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: #ff0000;
        bottom: -5px;
        left: 0;
        transform: scaleX(1);
        transition: transform 3s ease;}

    .hamburger {
        display: flex;
    }

    .firstName, .lastName {
        font-size: 28px;
    }

    .nav-links-custom li {
        margin: 10px 0;
        background-color: #000000;
    }

    .nav-links-custom li a {
        font-size: 18px;
        color: #fff;
        text-align: left;
        padding: 10px 20px;
        display: block;
    }

    .nav-links-custom li a:hover {
        color: #ff6b6b;
    }

    .iframe-content {
        height: ( 100vh - 15px);
    }

    .footer-container {
        height: 20px;
        position: relative;
        bottom: 0px;
        background-color: #000000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
    }
}
