/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

/* Contenedor principal */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

/* Estilos para el menú de navegación personalizado */
.header-container {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px;
    transition: background-color 0.3s ease; /* Cambia el color de fondo suavemente */
}

.brand-custom {
    display: flex;
    align-items: center;
}

.firstName {
    color: #FF0000;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease; /* Cambia el color suavemente */
}

.lastName {
    color: #FFF;
    font-size: 40px;
    margin-left: 5px;
}

/* Menú de navegación */
.nav-links-custom {
    display: flex;
    list-style: none;
}

.nav-links-custom li {
    position: relative; /* Para el efecto del subrayado */
    margin-left: 20px;
}

.nav-links-custom li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    padding: 10px 15px; /* Aumento del padding para mejor clic */
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links-custom li a:hover {
    color: #FF0000; /* Cambia el color al pasar el ratón */
    transform: scale(1.05); /* Efecto de aumento */
}

/* Subrayado animado */
.nav-links-custom li a.active {
    color: #FF0000; /* Color del enlace activo */
}

.nav-links-custom li a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #FF0000;
    bottom: -5px; /* Espacio entre el enlace y la línea */
    left: 0;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.nav-links-custom li a:hover::after {
    transform: scaleX(1.2); /* Expande la línea al pasar el ratón */
}

/* Estilos del iframe */
.iframe-content {
    flex-grow: 1; /* Permite que el iframe ocupe el espacio restante */
    width: 100%; /* Asegura que el iframe ocupe todo el ancho */
    height: calc(100vh - 115px); /* Altura total menos la del menú y el footer */
    border: none; /* Elimina el borde del iframe */
}

/* Estilos para el footer personalizado */
.footer-container {
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 10px;
    height: 50px;
}
/* Estilos para el menú hamburguesa */
.hamburger {
    display: none; /* Oculta el botón por defecto */
    flex-direction: column;
    cursor: pointer;
		
}

.hamburger .line {
    height: 3px;
    width: 25px;
    background-color: #ff0000;
    margin: 3px 0; /* Espaciado entre líneas */
}

/* Estilos responsivos */
@media (max-width: 1025px) {

	.nav-links-custom {
        display: none; /* Oculta el menú por defecto en móvil */
        flex-direction: column; /* Cambia a columna para los enlaces */
        width: 100%; /* Ancho completo */
        position: absolute; /* Posición absoluta para desplegar el menú */
        top: 60px; /* Coloca el menú debajo del header */
        left: 0;
        background-color: #000; /* Fondo del menú */
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
    }

    .nav-links-custom.active {
        display: flex; /* Muestra el menú cuando tiene la clase 'active' */
    }

    .hamburger {
        display: flex; /* Muestra el botón hamburguesa en móvil */
    }


    .firstName, .lastName {
        font-size: 30px; /* Reduce el tamaño de la fuente */
    }

    .nav-links-custom {
        flex-direction: column; /* Cambia a columna para los enlaces */
        align-items: center;
    }

    .nav-links-custom li {
        margin: 10px 0; /* Espaciado vertical entre enlaces */
    }

    .nav-links-custom li a {
        font-size: 16px; /* Reduce el tamaño de la fuente */
    }

    .iframe-content {
        height: calc(100vh - 100px); /* Ajusta la altura del iframe */
    }

    .footer-container {
        height: 40px; /* Reduce la altura del footer */
    }
}
