/* Reset some default styles */
body, h2, p, form, input, button, label, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', 'Courier New', monospace;
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    display: flex;
    height: 100lvh;
    align-items: center;
    justify-content: center;
}

.container {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding: 2.5rem 2rem 2rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 30px;
}

h2 {
    color: #fff;
    font-size:3.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    color: #b0b8d1;
    font-size: 1.55rem;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
    letter-spacing: 1px;
}

input[type="text"],
input[type="password"] {
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 6px;
    background: #1a1e2a;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    outline: none;
    transition: background 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background: #23283a;
}

button[type="submit"] {
    margin-top: 1.2rem;
    padding: 0.7rem 0;
    background: #3a7afe;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background 0.2s;
}

button[type="submit"]:hover {
    background: #2554c7;
}

.error-msg {
    color: #ff4d4f;
    background: #2a1a1a;
    border: 1px solid #ff4d4f;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    font-size: 0.98rem;
    width: 100%;
    text-align: center;
}

.nav-link {
    margin-top: 1.5rem;
    color: #b0b8d1;
    font-size: 0.97rem;
    text-align: center;
}

.nav-link a {
    border: 1px solid #3a7afe;
    padding: 0.4rem 0.8rem;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: #3a7afe;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.nav-link a:hover {
    border: 1px solid #3a7afe;
    padding: 0.5rem 0.9rem;
    background: radial-gradient(ellipse at bottom, #24384f 0%, #090a0f 100%);
    color: #c73d25;
    text-decoration: underline;
}