<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Home</title>
  <link rel="shortcut icon" href="/static/IMG/Logo's/LOGO.png" type="image/x-icon" />
  <link rel="stylesheet" href="/static/CSS/home.css" />
  <!-- Google Fonts -->
</head>
<body>
  <!-- Contenido principal -->
  <main class="main-content">
    <h1>Welcome, {{ username }}!</h1>
    <ul class="menu">
      <li><a href="/music">🎵 Music</a></li>
      {% if is_admin %}
      <li><a href="/admin">🔧 Admin 🎵 Music</a></li>
      {% endif %}
      <li><a href="/tasks">📝 Tasks</a></li>
      <li><a href="/scoreboard">🏆 Leaderboard</a></li>
      {% if is_admin %}
      <li><a href="/admin">🔧 Admin Panel</a></li>
      {% endif %}
      <li><a href="/logout">🔚 Logout</a></li>
    </ul>
  </main>


</body>
</html>