<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="/static/IMG/Logo's/LOGO.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/CSS/scoreboard.css">
</head>
<body>
    <h2>🏆 Leaderboard</h2>
    <ol>
        {% for user in users %}
            <li>{{ user.username }} — <strong>{{ user.score }} pts</strong></li>
        {% endfor %}
    </ol>
    <a href="/home">⬅ Back to Home</a>
</body>
</html>
